# === NetBeans ===
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === Archivos compilados ===
*.class
*.jar
*.war
*.ear

# === Archivos temporales ===
*.log
*.cache
*.ctxt
*.properties~
*~

# === Archivos de sistema ===
.DS_Store
Thumbs.db